.beer-card {
  font-family: Arial, Helvetica, sans-serif;
}

.favorite-icon {
  display: inline;
  float: right;
}

.top {
  margin: 20px 0 0 40px;
  width: 80%;
}

.right-side {
  padding-left: 40px;
}

.image-name-tagline {
  display: flex;
  margin-left: 20px;
}

img {
  zoom: 15%;
}

.image-name-tagline > .beer-name {
  font-size: 22px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.beer-tagline {
  text-align: center;
}

.beer-expanded-description {
  padding-top: 15px;
  width: 90%;
  margin: auto;
}

.food-pairing {
  font-size: 14px;
  padding-top: 10px;
  width: 90%;
  margin: auto;
}
