.beer-card {
  background-color: #fcfaf7;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #c2bdbd;
  border-radius: 5px;
  margin: 3px;
  height: auto;
}

.favorite-icon {
  display: inline;
  float: right;
}

.top {
  margin: 20px 0 0 40px;
  width: 80%;
}

.right-side {
  padding-left: 40px;
}

.right-side > .beer-name {
  margin-bottom: -12px;
}

.beer-name {
  font-size: 22px;
}

.image-name-tagline {
  display: flex;
  margin-left: 20px;
}

img {
  zoom: 15%;
}
.image-name-tagline > .beer-name {
  font-size: 22px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.beer-tagline {
  text-align: center;
}

.beer-description {
  display: inline-block;
  margin: 15px auto;
}

.food-pairing {
  font-size: 14px;
  padding: 0 0 10px;
  width: 90%;
  margin: auto;
}
