nav {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #696565;
}

a:hover {
  color: #f7af2b;
}
